@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

/* Los estilos se aplican a todo el documento */

body {
    background-image: linear-gradient(135deg, rgba(42, 42, 42, 0.3),  rgba(209, 209, 209, 0.3) )
        url('../assets/images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #4b0505;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;

}

.social-icons{
    list-style: none;

}

.social-icons li{
    display: inline-block;
    margin: 0 10px;
}

.social-icons img{
    width: 48px;
}

header{
    margin: 32px auto;
    max-width: 800px;

}


header h1{
    margin-top: 32px;
    text-align: center;
    font-weight: 500;
    line-height: 16;
}

.box{
    max-width: 800px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    margin-top: 24px;
    padding: 0px 0 16px;
    background-image: linear-gradient(135deg, rgba(136, 128, 128, 0.551), rgba(206, 9, 9, 0));
}

.box h2{
    text-align: center;


}

.box img{
    border-radius: 50%;
    width: 150px;

}

.profile{
    text-align: center;
}

footer{
    margin: 32px auto;
    max-width: 800px;
    font-size: 10pt;
    text-align: center;
}